@{
    ViewBag.Title = "Confirmacion de reinicio de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Tu contraseña ha sido reiniciado. Porfavor @Html.ActionLink("Haga click aqui para iniciar sesion.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
