@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@

        <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity">
            <i class="fa fa-user-tie fa-3x"></i>
            <p>Salir</p>
        </a>

    }
}
else
{

    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    <a href="@Url.Action("Login", "Account")" class="w3-bar-item w3-button w3-padding-large w3-hover-opacity" id="loginLink" title="Admin login">
        <i class="fas fa-user-tie fa-3x"></i>
        <p>Ingreso Admin</p>
    </a>
}