@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Acceso Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Acceso bloqueado.</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada. Por favor intentelo nuevamente mas tarde.</h2>
</hgroup>
