body {
    padding-top: 50px;
    padding-bottom: 20px;
        
}
h1.maintittle {
    margin-top: 2em;
}

    div.contenido {
        margin-left: 20%;
        margin-right: 20%;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel-item img{
    width:650px;
    height:550px;
    border-radius:25px;
}

.div-high {
    background: #000;
    color: #fff;
}

.a.high {
    color: #fcff3c;
}

.h1.high {
    color: #fff;
    font-size: 48px;
    margin: 0;
    padding: 0 24px;
    width: 100%;
}

.p.high {
    color: #fff;
    font-size: 48px;
    margin: 0 0 24px;
}

.body-normal {
    background: #fff;
    color: #000;
}

.a-normal {
    color: #0b39e1;
}

.h1-normal {
    font-size: 48px;
    margin: 0;
    padding: 0 24px;
    width: 100%;
}

.p-normal {
    font-size: 48px;
    margin: 0 0 24px;
}